* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main__section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.mobile__section {
  width: 100%;
  width: 310px;
  height: 620px;
  overflow: hidden;
  border-radius: 45px;
}

/* 1st Sagement Animation */

#phone-content {
  transform-box: fill-box;
  transform-origin: center top;
}

#phone-content.blur,
#apple-top-bar.blur {
  filter: blur(25px);
}

#phone-content.animate {
  animation: phone__content 1.5s linear 0.5s forwards;
}

@keyframes phone__content {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-450px);
  }
}

#pop-up-sec {
  transform-box: fill-box;
  transform-origin: center bottom;
  transform: translateY(218px);
}

#pop-up-sec.animate {
  animation: pop__up__sec 0.35s linear 1s forwards;
}

@keyframes pop__up__sec {
  0% {
    transform: translateY(218px);
  }

  100% {
    transform: translateY(0px);
  }
}

#bg-btn {
  fill: transparent;
}
#bg-btn.animate {
  animation: bg__pop__up 0.25s linear 0.75s;
}

@keyframes bg__pop__up {
  0%,
  100% {
    fill: transparent;
  }

  50% {
    fill: rgba(176, 176, 176, 0.5);
  }
}

#mail-box {
  transform-box: fill-box;
  transform-origin: center;
  transform: translateX(330px);
}

#mail-box.animate {
  animation: mail__box__in 0.25s linear 0.25s forwards;
}

@keyframes mail__box__in {
  0% {
    transform: translateX(330px);
  }

  100% {
    transform: translateX(0px);
  }
}

#mail-address {
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

#mail-address.animate {
  animation: mail__adress 0.5s linear 0.5s forwards;
}

@keyframes mail__adress {
  0% {
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }

  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

#send-btn-bg path.animate {
  animation: send__btn__bg 0.25s linear 0.5s;
}

@keyframes send__btn__bg {
  0%,
  100% {
    fill: #0094ff;
  }

  50% {
    fill: #025795;
  }
}

/* 2nd Sagement Animation */

#searching-screen {
  transform-box: fill-box;
  transform-origin: center bottom;
  transform: translateY(-683px);
}

#searching-screen.animate {
  animation: searching__screen 0.5s linear forwards;
}

@keyframes searching__screen {
  0% {
    transform: translateY(-683px);
  }

  100% {
    transform: translateY(0px);
  }
}

#num-1,
#num-2,
#num-3,
#num-4,
#num-5 {
  opacity: 0;
  transform-box: fill-box;
  transform-origin: center;
  transform: translateY(55px);
}

#num-1.animate {
  animation: searching__nums 0.5s linear 0.5s forwards;
}

#num-2.animate {
  animation: searching__nums 0.5s linear forwards;
}

#num-3.animate {
  animation: searching__nums 0.5s linear forwards;
}

#num-4.animate {
  animation: searching__nums 0.5s linear forwards;
}

@keyframes searching__nums {
  0% {
    opacity: 0;
    transform: translateY(55px);
  }

  20%,
  80% {
    opacity: 1;
    transform: translateY(0px);
  }

  100% {
    opacity: 0;
    transform: translateY(-55px);
  }
}

#num-5.animate {
  animation: searching__nums5 0.5s linear forwards;
}

@keyframes searching__nums5 {
  0% {
    opacity: 0;
    transform: translateY(55px);
  }

  20%,
  80%,
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

#searching-sec {
  transform-box: fill-box;
  transform-origin: center;
}

#searching-sec.animate {
  animation: searching__sec 0.25s linear forwards;
}

@keyframes searching__sec {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(295px);
  }
}

#found-for {
  transform-box: fill-box;
  transform-origin: center;
  transform: translateX(295px);
}

#found-for.animate {
  animation: found__for 0.25s linear 0.75s forwards;
}

@keyframes found__for {
  0% {
    transform: translateX(295px);
  }

  100% {
    transform: translateX(0px);
  }
}

#found-price path.animate,
#found-for-text path.animate {
  animation: Found__text 0.25s ease-in-out 0.5s 4 alternate;
}

@keyframes Found__text {
  0% {
    fill: #000000;
  }

  100% {
    fill: #ffffff;
  }
}

#found-for-bg > #found-bg.animate {
  animation: Found__bg 0.25s linear 0.5s 4 alternate;
}

@keyframes Found__bg {
  0% {
    fill: #ffffff;
  }

  100% {
    fill: #00194f;
  }
}

#found-for-bg > #found-bg-stroke.animate {
  animation: Found__bg__stroke 0.25s linear 0.5s 4 alternate;
}

@keyframes Found__bg__stroke {
  0% {
    stroke: #000000;
  }

  100% {
    stroke: #ffffff;
  }
}

#rebook-btn-bg path {
  fill: #00194f;
}

#rebook-btn-bg path.animate {
  animation: reebook__btn__bg 0.25s linear 0.25s forwards;
}

@keyframes reebook__btn__bg {
  0%,
  100% {
    fill: #00194f;
  }

  50% {
    fill: #2a7cff;
  }
}

#booking-screen {
  transform-box: fill-box;
  transform-origin: center left;
  transform: translateX(330px);
}

#booking-screen.animate {
  animation: booking__screen 0.25s linear 0.1s forwards;
}

@keyframes booking__screen {
  0% {
    transform: translateX(330px);
  }

  100% {
    transform: translateX(0px);
  }
}

/* New Portion */

#rebook-pricy-text {
  transform-box: fill-box;
  transform-origin: center;
}

#rebook-pricy-text.animate {
  animation: rebook_pricy__text 0.25s linear 0.5s 4 alternate;
}

@keyframes rebook_pricy__text {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.05);
  }
}

/* New Portion */

#book-room-btn-bg.animate {
  animation: bookroom__btn__bg 0.25s linear 0.5s forwards;
}

@keyframes bookroom__btn__bg {
  0%,
  100% {
    fill: #003f91;
  }

  50% {
    fill: #3087ff;
  }
}

#tick-section {
  transform-box: fill-box;
  transform-origin: center top;
  transform: translateY(682px);
}

#tick-section.animate {
  animation: tick__section 0.25s linear 0.25s forwards;
}
/* 291.5710754394531 */

@keyframes tick__section {
  0% {
    transform: translateY(682px);
  }

  100% {
    transform: translateY(0px);
  }
}

#tick {
  stroke-dashoffset: 291.5710754394531;
  stroke-dasharray: 291.5710754394531;
}

#tick.animate {
  animation: tickIn 1.25s linear 0.25s forwards;
}

@keyframes tickIn {
  0% {
    stroke-dashoffset: 291.5710754394531;
  }

  20%,
  80% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: -291.5710754394531;
  }
}

/* 3rd Sagement */

#congrats-text {
  opacity: 0;
  transform-box: fill-box;
  transform-origin: center;
  transform: translateY(-50px);
}

#congrats-text.animate {
  animation: fade__in 0.25s linear 0.5s forwards;
}

@keyframes fade__in {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

#saved-amount-text {
  opacity: 0;
  transform-box: fill-box;
  transform-origin: center;
  transform: translateY(-50px);
}

#saved-amount-text.animate {
  animation: fade__in 0.25s linear 0.5s forwards;
}

#cancel-btn {
  opacity: 0;
  transform-box: fill-box;
  transform-origin: center;
  transform: translateY(-50px);
}

#cancel-btn.animate {
  animation: fade__in 0.25s linear 0.5s forwards;
}

/* Input tracker css */

.options {
  padding: 20px 40px;
  position: relative;
}

.options h3 {
  font-family: "Outfit", sans-serif;
  font-size: 48px;
  line-height: 48px;
  margin-bottom: 30px;
}

.options div label {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.options div label span,
.options div label div {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  line-height: 35.5px;
  font-weight: 400;
  margin-bottom: 15px;
  background-color: none;
  border-radius: 15px;
  transition-duration: 0.5s;
  transition-property: background-color color;
}

.options div label span {
  color: #001a43;
  font-size: 20px;
  width: 80%;
  padding: 15px 0px 15px 20px;
}

.options div label div {
  width: 20px;
  height: 20px;
  background-color: white;
  z-index: 10;
  border: 2px solid grey;
}

.options div label div.choosen {
  border: 2px solid #001a43;
  background-color: #001a43;
}

.options div input {
  display: none;
}

.options div input:checked + label span {
  color: white;
  background-color: #001a43;
}

/* Clip Top to Bottom

.clip__down {
  animation: clip__down 1s linear forwards;
}

Here 1s is a sample duration, the duration will be dynamically set using JS between sagement

@keyframes clip__down {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
} */

.line {
  right: 48px;
  position: absolute;
  top: 130px;
  width: 4px;
  height: 45%;
  background-color: rgb(196, 196, 196);
}

.line .inside {
  display: block;
  content: "";
  width: 100%;
  background-color: #001a43;
}
.line .inside.first {
  animation: firstAnime 6s linear forwards;
}
.line .inside.mid {
  animation: lastAnime 6.5s linear forwards;
}
.line .inside.last {
  height: 100%;
}

@keyframes firstAnime {
  from {
    height: 5%;
  }

  to {
    height: 45%;
  }
}

@keyframes lastAnime {
  from {
    height: 55%;
  }

  to {
    height: 95%;
  }
}
@media (max-width: 956px) and (min-width: 769px) {
  .line {
    top: 175px;
    height: 40%;
  }
}

@media (max-width: 768px) {
  .main__section {
    flex-direction: column-reverse;
  }

  .options h3 {
    font-size: 35px;
    margin-bottom: 20px;
  }
}

@media (max-width: 456px) {
  .line {
    top: 160px;
    height: 45%;
  }
}
@media (max-width: 408px) {
  .line {
    height: 49%;
  }
}
@media (max-width: 359px) {
  .line {
    top: 177px;
  }
}
@media (max-width: 313px) {
  .line {
    top: 227px;
    height: 45%;
  }
}
@media (max-width: 257px) {
  .line {
    top: 248px;
    height: 48%;
  }
}
@media (max-width: 234px) {
  .line {
    height: 50%;
  }
}
